/*COMMON PROPERTIES ACROSS ALL THE DOCUMENTS*/
body
{
 background-color: #f0f0fb;
font-family:"Times New Roman";
}

/*THIS IS FOR THE MAIN CONTAINER///////////////////////////////////////////////////////////////*/
#container
{
 width: 100%;
 margin:-10px auto;
}
/*THIS IS FOR THE MAIN CONTAINER///////////////////////////////////////////////////////////////*/

/*THIS IS FOR THE HEADER IMAGE/////////////////////////////////////////////////////////////////*/
#header
{
 min-width: 101.3%;
 border-radius: 0 0 25px 25px;
 margin-left: -10px;
 background-color: #0082A9;
 min-height: 150px;
}
#header p
{
 font-size: 50px;
 color: white;
 text-shadow: 0px 0px 3px black;
 text-align: center;
 font-family: calibri;
 margin: 0px;
 letter-spacing: 1.8px;
}
#header img
{
 float: left;
 padding-left: 8px;
}
/*THIS IS FOR THE HEADER IMAGE/////////////////////////////////////////////////////////////////*/

a
{
 color: #3360ff;
}
a:hover
{
 color: #66cc00;
 text-decoration: underline;
}
/*COMMON PROPERTIES ACROSS ALL THE DOCUMENTS*/






/*//////////////////////////REGISTER LINK ON THE MAIN PAGE/////////////////////////////////////*/
/*a.register
{
 color: red;
}
a.register:hover
{
 text-decoration: underline;
}*/
/*//////////////////////////REGISTER LINK ON THE MAIN PAGE/////////////////////////////////////*/







/*STYLE OF ALL CLASSES*/
/*////////////////This is for the logout button ///////////////////////////////////////////////*/
.logout
{
 float: right;
 width: 100px;
 height: 40px;
 font-size: 20px;
 color: green;
}
/*////////////////This is for the logout button ///////////////////////////////////////////////*/


.heading
{
 font-family: gautami;
 font-size: 35px;
 font-weight: bold;
}
.label
{
 font-family: verdana;
}

.inp
{
 height: 30px;
 margin: 0px;
 border: 1px solid grey;
 border-radius: 3px;
}
.btn
{
 min-width: 70px;
 height: 30px;
 font-size: 18px;
}

.results
{
 padding-top: 10px;
 font-family: calibri;
}
td.post,#post
{
 color: #cc6600;
 font-size: 32px;
}
td.fields
{
 font-weight:bold;
 text-align: right;
 color: green;
 font-family: "verdana";
}
td.nominee
{
 font-family:Arial;
 height: 120px;
 padding-left: 40px;
 font-size: 23;
 color: #006600;
}
tr.row
{
 background-color: #aaaaaa;
}

tr.head
{
font-size: 35px;
color: #9966ff;
font-weight: bold;
}
font.members
{
 font-size: 21;
 color: #006600;
}
font.error
{
 color: red;
 font-size: 20;
}
tr.main_nominee
{
 background-color:#666666;
}
tr.nominee
{
 height: 32px;
 background-color:#aaaaaa;
}
td.nominee
{
 padding: 10px;
}
.n_image
{
 width:170px;
 height: 170px;
 box-shadow: 5px 5px 10px #888888;
 padding: 5px;
 background-color: white;
 border-radius: 5px;
}

/*CSS OF ALL CLASSES*/



/*ALL IDENTIFIERS*/
#address
{
 font-size: 24px;
}
#welcome
{
 font-family: Verdana;
 text-align: center;
 font-size: 30px;
 color: brown;
}
#post
{
 color: #ffff00;
 padding: 15px;
}
#result,#none
{
 font-size: 30px;
 color: white;
 padding: 15px;
}
#none
{
 color: #993333;
}
#votes,#unknown
{
 font-size: 22px;
 padding: 15px;
 color: white;
}
#unknown
{
 color: red;
}
#footer
{
 margin:0px;
 margin-left: -10px;
 margin-top: 200px;
 min-width: 101.3%;
 text-align: center;
 background: grey;
 color: white;
}